
<div class="container-fluid m-0 p-0">
  <header>
    <nav class="navbar navbar-expand-md bg-dark">
      <a  routerLink='/ifpr' class="nav-link text-white ative">IFPR</a>
      <a routerLink="/tads"class="nav-link text-white">TADS</a>
      <a routerLink="/angular" class="nav-link text-white" >ANGULAR</a>
      <a routerLink="/turma" class="nav-link text-white">TURMA</a>
    </nav>
  </header>
  <produto-salvar></produto-salvar>
  <cliente-salvar></cliente-salvar>
  <footer class="footer bg-dark fixed-bottom p-2">
    <p class="text-white text-center">Feito com 💚 por Elisariane.</p>
  </footer>
</div>
<router-outlet></router-outlet>
